* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cv {
  border: 3px solid black;
  border-radius: 10px;
  margin: 10px auto;
  width: 95%;
}

header {
  background: rgba(0, 0, 0, 0.893);
  border-radius: 10px;
  color: white;
  height: 200px;
  width: 100%;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "h1 photo" "ul photo";
}

h1 {
  padding: 30px 0 0 100px;
  font-size: 2.5rem;
  letter-spacing: 2px;
  grid-area: h1;
}

ul.list-header {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  grid-area: ul;
  font-size: 0.8rem;
}

li {
  padding: 10px;
}

img {
  border-radius: 150px;
  border: 3px solid rgb(0, 0, 0);
  right: 10px;
  top: 10px;
  grid-area: photo;
  margin: auto;
  padding: 5px;
}

.cv-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "pro we2"
    "ski we2"
    "we edu";
}

h2 {
  text-align: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
}
h3 {
  margin-left: 20px;
}

p {
  text-align: justify;
  padding: 10px;
}

ul.list-body {
  list-style: none;
  margin-left: 20px;
}

.profile {
  grid-area: pro;
}

.skills {
  grid-area: ski;
}
.technical-skills {
  position: relative;
}

#html::after {
  position: absolute;
  content: "";
  background: linear-gradient(90deg, black 100%, white 0%);
  border: 2px solid black;
  height: 15px;
  width: 200px;
  top: 35px;
  left: 130px;
  border-radius: 150px;
}
#css::after {
  position: absolute;
  content: "";
  background: linear-gradient(90deg, black 80%, white 20%);
  border: 2px solid black;
  height: 15px;
  width: 200px;
  top: 75px;
  left: 130px;
  border-radius: 150px;
}
#javascript::after {
  position: absolute;
  content: "";
  background: linear-gradient(90deg, black 50%, white 50%);
  border: 2px solid black;
  height: 15px;
  width: 200px;
  top: 115px;
  left: 130px;
  border-radius: 150px;
}
#github::after {
  position: absolute;
  content: "";
  background: linear-gradient(90deg, black 80%, white 20%);
  border: 2px solid black;
  height: 15px;
  width: 200px;
  top: 155px;
  left: 130px;
  border-radius: 150px;
}

.work-experience {
  grid-area: we;
}
.work-experience2 {
  grid-area: we2;
}

.education {
  grid-area: edu;
}

@media screen and (max-width: 817px) {
  img {
    height: 100px;
    margin: 10px;
  }

  header {
    height: 400px;
  }
}

@media screen and (max-width: 575px) {
  img {
    visibility: hidden;
  }
}
