* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  background: black;
  color: white;
  height: 200px;
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "h1 photo" "ul photo";
}

h1 {
  padding: 30px 0 0 100px;
  font-size: 2.5rem;
  letter-spacing: 2px;
  grid-area: h1;
}

ul {
  display: flex;
  list-style: none;
  grid-area: ul;
}

li {
  margin: 20px;
  padding: 10px;
}

img {
  border-radius: 150px;
  right: 10px;
  top: 10px;
  grid-area: photo;
  margin: 20px auto;
}
